<meta charset="UTF-8"/>
<title>{{ setting_value('streams::name', config_get('streams::distribution.name')) }}
	&#8250;{{ trans(template.meta_title) }}</title>
{% include "theme::partials/meta-icon" %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="generator" content="{{ config_get('streams::distribution.name') }}" />
<meta name="description" content="{{ trans(template.meta_description) }}"/>
{% include "theme::partials/stylesheet" %}
{# Important!! #}
{{ constants() }}